.note-card-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    box-shadow: 0 -1px #C7CDD1, inset 0 -1px #C7CDD1;
    padding: 16px 0;
    backdrop-filter: blur(100px);
}

.note-card-buttons-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 5%;
}

.note-card-buttons-container svg{
    color: #2a2c2e86;
}

.note-card-buttons-container svg:hover{
    cursor: pointer;
    transform: scale(1.04);
}

.note-card-teacher-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 10%;
}

.note-card-teacher-container img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.note-card-content-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    width: 65%;
    overflow: auto;
}

.note-card-content-container h5{
    font-size: 1rem;
    margin-bottom: 4px;
    flex-wrap: wrap;
}

.note-card-moment-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    height: 100%;
    width: 20%;
}

.note-card-moment-container p{
    font-size: 0.8rem;
    margin: 3px 0 0;
}

.note-card-moment-container span{
    font-size: 0.8rem;
    margin: 3px 0 0;
    color: #6B7780;
}

.edit-note-form textarea{
    height: auto !important;
}
