.chats-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 10px;
    height: 100%;
}

.my-chats-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 50%;
    padding: 10px;
    height: 600px;
    overflow-y: scroll;
}

.my-chats-container a{
    width: 100%;
}

.my-chats-container h1{
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eaeaea;
    font-weight: 700;
    font-size: 1rem;
}

@media(min-width:1200px){
    .chats-container{
        height: calc(100vh - 95px);
    }
}