.chat-card-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    border-bottom: 2px solid #eaeaea;
}

.chat-card-first-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
}

.chat-card-first-container img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.chat-card-first-container h3{
    margin-left: 8px;
    font-size: 1rem;
    font-weight: 700;
}

.chat-card-second-container{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.unread-messages-badge{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background-color: red;
    color: white;
    border-radius: 50%;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 0;
}