.message-card-container, .message-card-container-author{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #E4F8E6;
    min-width: 200px;
    max-width: 100%;
    border-radius: 5px;
    height: auto;
    margin-bottom: 20px;
    align-self: flex-end;
    position: relative;
}

.message-card-container-author::before{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #fff;
    left: -10px;
    top: 50%;
    margin-top: -10px;
}

.message-card-container::before{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #E4F8E6;
    right: -10px;
    top: 50%;
    margin-top: -10px;
}

.message-card-container-author{
    background-color: #fff !important;
    align-self: flex-start !important;
}

.message-card-top-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.message-card-top-container svg{
    color: #ABABAB;
}

.message-card-author-bottom{
    display: flex;
    height: 100%;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    margin-left: 10px;
}

.message-card-author-bottom p{
    margin-bottom: 0;
    font-size: 12px !important;
    margin-right: 4px;
    color: #ABABAB;
    width: 100px !important;
}

.message-card-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    height: auto;
    overflow: hidden;
}

.message-card-content p {
    font-size: 12px;
    margin-bottom: 2px;
    flex-wrap: wrap;
    max-width: 100%;
    height: auto;
    word-break: break-all;
}

@media(min-width:576px){
    .message-card-content p {
        font-size: 16px;
    }
}