.top-navbar-main-container{
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
}

.exchanges-container-navbar{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 60px;
    width: 100%;
}

.top-navbar-brand{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.top-navbar-brand h4{
    margin-bottom: 0;
    margin-left: 5px;
    font-weight: 700;
    color: #00FFFF;
}

.top-navbar-profile-container{
    display: flex;
    align-items: center;
    width: 20%;
    justify-content: center;
    margin-right: 10px;
}

.exchanges-container-second{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
}

.exchanges-container-navbar img{
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
    border: 2px solid #eaeaea;
}

.exchanges-container-navbar h1{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
    height: 100%;
    padding-right: 12px;
}

.exchanges-container-navbar h1:hover{
    color: #00FFFF;
}

.exchanges-container-second p {
    margin-bottom: 0;
    font-size: 20px;
    margin-right: 10px;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.exchanges-container-second p:hover {
    cursor: pointer;
}

.top-navbar-buttons-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.top-navbar-icon{
    font-size: 20px;
    margin-right: 0px;
}

.top-navbar-icon:hover{
    color: #00FFFF;
    transform: scale(1.1);
}

.top-navbar-notifications-container{
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    width: 100%;
}

.notification-badge {
    position: absolute;
    top: 10px;
    right: 188px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    background-color: red;
    color: white;
    border-radius: 50%;
    font-size: 11px;
    font-weight: bold;
    display: none;
}

.top-navbar-login-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.top-navbar-login-container p{
    margin-bottom: 0;
}

.navbar-toggler-icon {
    color: #fff !important;
}

@media(min-width:576px){

    .exchanges-container-navbar img{
        height: 26px;
    }

    .top-navbar-icon{
        font-size: 24px;
        margin-right: 5px;
    }
}

@media(min-width:768px){

    .exchanges-container-second{
        align-items: center;
    }

    .top-navbar-profile-container{
        width: 40%;
        justify-content: flex-end;
    }

    .top-navbar-buttons-container{
        width: 60%;
        justify-content: flex-start;
    }

    .exchanges-container-navbar img{
        height: 40px;
    }

    .exchanges-container-navbar h1{
        font-size: 20px;
        padding-right: 12px;
        border-right: 1px dashed #eaeaea;
    }
}

@media(min-width:992px){

    .top-navbar-profile-container{
        width: 45%;
    }

    .top-navbar-buttons-container{
        width: 65%;
    }
}

@media(min-width:1200px){

    .exchanges-container-navbar{
        flex-direction: row;
        align-items: center;
        height: 60px;
    }
    
    .top-navbar-brand{
        justify-content: unset;
        width: unset;
        margin-bottom: 0;
    }
    
    .top-navbar-profile-container{
        width: 100%;
        justify-content: flex-end;
    }
    
    .exchanges-container-second{
        align-items: center;
        justify-content: space-between;
        width: 30%;
    }
    
    .exchanges-container-navbar h1{
        font-size: 20px;
    }
    
    .top-navbar-buttons-container{
        display: flex;
        align-items: center;
    }
    
    .top-navbar-icon{
        font-size: 24px;
        margin-right: 5px;
    }
    
    .notification-badge {
        display: flex;
    }
    
    .top-navbar-login-container{
        width: 9%;
        justify-content: space-between;
    }

}